.but_as_link {
  font-size: 16px !important;
  font-weight: bold !important;
  border: none !important;
}

.but_as_link:hover {
  text-decoration: underline !important;
  border: none !important;
  font-weight: bold !important;
}

.but_as_link:active {
  border: none !important;
}

input {
  border-radius: 4px !important;
}

input:focus {
    outline: none !important;  /*Удалить стандартную обводку браузера*/
    border: 1px solid #090909 !important;  /*Добавить свою обводку*/
}


textarea {
  border-radius: 4px !important;
}

.custom_pointer {
  cursor: pointer!important;
}

.custom_div {
  width: 80% !important;
}

.custom_footer {
    position: fixed !important;
    left: 17.5% !important;
    bottom: 0 !important;
    width: 65% !important;

}

