.but_as_link {
  font-size: 15px !important;
  /*font-weight: bold !important;*/
  border: none !important;
}

.but_as_link:hover {
  text-decoration: underline !important;
  border: none !important;
  font-weight: bold !important;
}

.but_as_link:active {
  border: none !important;
}

input {
    border-radius: 4px !important;
    color: #1D4087 !important;

}

input:focus {
    outline: none !important;  /*Удалить стандартную обводку браузера*/
    border: 1px solid #29cd00 !important;  /*Добавить свою обводку*/
}


textarea {
  border-radius: 4px !important;

}

textarea:focus {
    outline: none !important;  /*Удалить стандартную обводку браузера*/
    border: 1px solid #29cd00 !important;  /*Добавить свою обводку*/
}

.custom_pointer {
  cursor: pointer !important;
}

.custom_div {
  width: 80% !important;
}

.custom_footer {
    position: fixed !important;
    left: 17.5% !important;
    bottom: 0 !important;
    width: 65% !important;

}

.support_button {
  background-color: #29cd00 !important;
  color: white !important;
  border: none !important;
  border-radius: 4px !important;
  font-size: 25px !important;
  font-weight: bold !important;
  padding: 10px !important;
}

.tab_green {

  color: #3ae75f !important;

}

.center-div {
    position: fixed !important; /* Fixed/Sticky position */
    top: 50% !important; /* Place the div in the middle of the page */
    left: 50% !important; /* Place the div in the middle of the page */
    transform: translate(-50%, -50%) !important; /* Translate the div from the middle */
    width: 40% !important; /* Set the width to 50% of the screen */
    height: 40% !important; /* Set the height to 50% of the screen */
    z-index: 1 !important; /* Make sure it sits over other content */
    /* Add your own styling */
    background-color: #f9f9f9;
    border: 1px solid #ffffff !important;
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.3) !important;
    padding: 5px !important;
    box-sizing: border-box !important;
    overflow-y: auto !important;
}

.text-as-link {
    cursor: pointer !important;
}

.text-as-link:hover {
    text-decoration: underline !important;
}

.underlined-text {
    text-decoration: underline;
    text-decoration-color: #ffffff;
}

.black-text {
    color: black !important;
}

.white-text {
    color: white !important;
}



@media (min-width: 1200px) {
    .header_new {
    /* Расположение вверху экрана */
    position: fixed !important;
    top: 0 !important;
    left: 50% !important;
    transform: translateX(-50%) !important;

    /* Занимает 80% ширины экрана при масштабе страницы 100% */
    width: 100vw !important;
    height: 10vh !important;

    /* Масштабирование совместно с другим содержимым страницы*/
    resize: vertical !important;
    overflow: auto !important;
    }


    .footer_new {
        /* Расположение внизу экрана */
        position: fixed !important;
        bottom: 0 !important;
        left: 50% !important;
        transform: translateX(-50%) !important;

        /* Занимает 100% ширины экрана при масштабе страницы 100% */
        width: 100vw !important;
        height: 8vh !important;

        /* Масштабирование совместно с другим содержимым страницы*/
        resize: vertical !important;
        overflow: auto !important;
    }

    .center-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Set the width and height to 50% of the screen */
    width: 50%;
    overflow-y: auto;
}

    .center-horizontally {
        display: block;

        margin-left: auto !important;
        margin-right: auto !important;
    }

}

.bottom-message {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10%;
    width: 100%; /* Устанавливаем ширину контейнера */
    height: 7vh; /* Высота контейнера равна высоте окна браузера */
}


